@model List<grole.src.Entidades.Usuario>
	
<h2>Usuarios Web</h2>
<div>
	<div>
		<a href="javascript:capturarUsuario();">Nuevo Usuario</a>
	</div>
	
</div>
<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Usuario</th>
			<th>Correo</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody id="bodyUsuarios">
		@foreach(var item in Model){
			<tr id="tr@(item.Clave)">
				<td id="cla@(item.Clave)" style="display:none">@item.Clave</td>
				<td id="nom@(item.Clave)">@item.Nombre</td>
				<td id="us@(item.Clave)">@item.User</td>
				<td id="cor@(item.Clave)">@item.Correo</td>
				<td><a href="javascript:capturarModificarUsuario(@item.Clave,'@item.Pass')">Modificar</a></td>
				<td><a href="javascript:eliminarUsuario(@item.Clave)">Eliminar</a></td>
				<td><a href="javascript:capturarDerechosUsuario(@item.Clave,'@item.Nombre')">Derechos</a></td>
			</tr>
			}
	</tbody>
</table>

<form action="/usuarios/insertar" method="post" id="formaUsuario" style="display:none">
	<div>
		<input type="hidden" name="Clave" id="inpClave">
		<div>Nombre</div>
		<input type="text" name="Nombre" id="inpNombre" maxlength="50">
	</div>
	
	<div>
		<div>Correo</div>
		<input type="text" name="Correo" id="inpCorreo" maxlength="50">
	</div>
	
	<div>
		<div>Usuario</div>
		<input type="text" name="User" id="inpUsuario" maxlength="15">
	</div>
	
	<div>
		<div>Password</div>
		<input type="password" name="Pass" id="inpPassword" maxlength="10">
	</div>
	
	<div>
		<input type="submit" id="btnGuardar" value="Aceptar" onclick="insertarUsuario(event)">
		<input type="submit" id="btnModificar" value="Modificar" onclick="modificarUsuario(event)" style="display:none">
		<button onclick="cancelar(event)">Cancelar</button>
	</div>
</form>

<div id="formaDerechos"	style="display:none" >
	<h3 id="usuario">Usuario: </h3>
	<form action="/usuarios/capturarderechos" method="post" id="capturaDerechos">
		<table id="tablaDerechos">
			<thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
			</thead>
			<tbody id="cuerpoDerechos">
				
			</tbody>
		</table>
		<div>
			<input type="hidden" id="idUsuario" name="Usuario">
			<input type="submit" value="Aceptar" onclick="guardarDerechosUsuario(event)">
			<input type="button" value="Cancelar" onclick="cancelar(event)">
		</div>
	</form>
</div>

<script>

	function guardarDerechosUsuario(e){//Hace el post para guardar los derechos indicados de un usuario en la base de datos
		e.preventDefault();
		
		var pUrl  = "/usuarios/insertarderechosusuario";
		var pData = $("#capturaDerechos").serialize();
		
		$.post(pUrl, pData, function(Result){
			if(!Result.Result)
				window.alert("Hubo algun problema");
			cerrarVentana();
		});
	}
	
	function capturarDerechosUsuario(id,nombre){//Abre la ventana modal para capturar todos los derechos de un usuario
		var tablaDerechos = document.getElementById("tablaDerechos");
		
		$.get("/usuarios/obtenerclasificacionesderechos", function (pClasificaciones) {
		    var pUrl = "/usuarios/obtenerderechosusuario";
		    var pData = "Clave=" + id;
		    $.get(pUrl, pData, function (DerechosUsuario) {
		        $.get("/usuarios/obtenerderechos", function (Result) {

		            for (var i = 0; i < Result.length; i++) {
		                if (i == 0 || Result[i].Clasificacion != Result[i - 1].Clasificacion) {
		                    var pFilaClasificacion   = document.createElement("tr");
		                    var pCeldaClasificacion1 = document.createElement("th");
		                    var pCeldaClasificacion2 = document.createElement("th");

		                    for (var j = 0; j < pClasificaciones.length; j++) {
		                        if (pClasificaciones[j]+"" == Result[i].Clasificacion+"") {
		                            pCeldaClasificacion1.textContent = pClasificaciones[j];
		                            pFilaClasificacion.appendChild(pCeldaClasificacion1);
		                            pFilaClasificacion.appendChild(pCeldaClasificacion2);
		                            tablaDerechos.appendChild(pFilaClasificacion);
		                            break;
		                        }

		                    }
		                }
		                var registro = Result[i];

		                var fila         = document.createElement("tr");
		                var celdaDerecho = document.createElement("td");
		                var celdaCheck   = document.createElement("td");
		                var checkBox     = document.createElement("input");

		                checkBox.type  = "checkbox";
		                checkBox.name  = "chk";
		                checkBox.value = registro.IdDerecho;

		                celdaDerecho.textContent = registro.Menu;

		                for (var j = 0; j < DerechosUsuario.length; j++) {
		                    if (registro.IdDerecho == DerechosUsuario[j])
		                        checkBox.checked = true;
		                }

		                celdaCheck.appendChild(checkBox);
		                fila.appendChild(celdaDerecho);
		                fila.appendChild(celdaCheck);

		                tablaDerechos.appendChild(fila);
		            }
		            $("#formaDerechos").dialog({
		                title: "Derechos",
		                height: 600,
		                width: 500,
		                modal: true,
		                open: function (event, ui) {
		                    document.getElementById("usuario").textContent = "Usuario: " + nombre;
		                    document.getElementById("idUsuario").value     = id;
		                }
		            });
		        });
		    });
		});
		
	}
		

	function capturarUsuario(){//Abre la ventana modal para insertar a un usuario
		limpiarCampos();
		
		document.getElementById("btnGuardar").style.display   = "inline-block";
		document.getElementById("btnModificar").style.display = "none";
		
		$("#formaUsuario").dialog({
				title: "Nuevo Usuario",
                height: 300,
                width: 300,
                modal: true,
                open: function (event, ui) {
                    document.getElementById("inpNombre").focus();
					
                }
            });
	}
	
	function insertarUsuario(e){//Hace el post para insertar un usuario en la base de datos
		e.preventDefault();
		
		if(!validarCamposVacios())
			return;
		
		var pUrl = "/usuarios/insertar";
		var pDatos = $("#formaUsuario").serialize();
		
		$.post(pUrl, pDatos, function (Result){
			if(Result!=null){
				insertarUsuarioEnTabla(Result,false);
				cerrarVentana();
			}else
				window.alert("Usuario ya existe");
		});
	}
	
	function validarCamposVacios(){//Valida que los campos no esten vacíos
		var nombre = document.getElementById("inpNombre");
		var correo = document.getElementById("inpCorreo");
		var user   = document.getElementById("inpUsuario");
		var pass   = document.getElementById("inpPassword");
		
		if(nombre.value.trim().length === 0){
			window.alert("El nombre no debe estar en blanco");
			nombre.focus();
			return false;
		}
		
		if(correo.value.trim().length === 0){
			window.alert("El correo no debe estar en blanco");
			correo.focus();
			return false;
		}
		
		if(user.value.trim().length === 0){
			window.alert("El usuario no debe estar en blanco");
			user.focus();
			return false;
		}
		
		if(pass.value.trim().length === 0){
			window.alert("El password no debe estar en blanco");
			pass.focus();
			return false;
		}
		return true;
	}

	function insertarUsuarioEnTabla(usuario, modificar){//Inserta o actualiza una fila en la tabla dependiendo si es modificación o inserción
	    if (!modificar) {
	        var fila           = document.createElement("tr");
	        var celdaClave     = document.createElement("td");
	        var celdaNombre    = document.createElement("td");
	        var celdaUsuario   = document.createElement("td");
	        var celdaCorreo    = document.createElement("td");
	        var celdaModificar = document.createElement("td");
	        var linkModificar  = document.createElement("a");
	        var celdaEliminar  = document.createElement("td");
	        var linkEliminar   = document.createElement("a");
	        var celdaDerechos  = document.createElement("td");
	        var linkDerechos   = document.createElement("a");

	        celdaClave.textContent    = usuario.Clave;
	        celdaClave.style.display  = "none";
	        celdaNombre.textContent   = usuario.Nombre;
	        celdaUsuario.textContent  = usuario.User;
	        celdaCorreo.textContent   = usuario.Correo;
	        linkModificar.textContent = "Modificar";
	        linkModificar.href        = "javascript:capturarModificarUsuario(" + usuario.Clave + ",'" + usuario.Pass + "')";
	        linkEliminar.textContent  = "Eliminar";
	        linkEliminar.href         = "javascript:eliminarUsuario(" + usuario.Clave + ")";
	        linkDerechos.textContent  = "Derechos";
	        linkDerechos.href         = "javascript:capturarDerechosUsuario(" + usuario.Clave + ",'" + usuario.Nombre + "')";

	        fila.id         = "tr" + usuario.Clave;
	        celdaClave.id   = "cla" + usuario.Clave;
	        celdaNombre.id  = "nom" + usuario.Clave;
	        celdaUsuario.id = "us" + usuario.Clave;
	        celdaCorreo.id  = "cor" + usuario.Clave;

	        celdaModificar.appendChild(linkModificar);
	        celdaEliminar.appendChild(linkEliminar);
	        celdaDerechos.appendChild(linkDerechos);

	        fila.appendChild(celdaClave);
	        fila.appendChild(celdaNombre);
	        fila.appendChild(celdaUsuario);
	        fila.appendChild(celdaCorreo);
	        fila.appendChild(celdaModificar);
	        fila.appendChild(celdaEliminar);
	        fila.appendChild(celdaDerechos);

	        document.getElementById("bodyUsuarios").insertBefore(fila, document.getElementById("bodyUsuarios").firstChild);
	    } else {
	        document.getElementById("nom" + usuario.Clave).textContent = usuario.Nombre;
	        document.getElementById("cor" + usuario.Clave).textContent = usuario.Correo;
	        document.getElementById("us" + usuario.Clave).textContent  = usuario.User;
	    }
	}
	
	function capturarModificarUsuario(id, pass){//Abre la ventana modal para modificar un usuario
		limpiarCampos();
		document.getElementById("btnGuardar").style.display   = "none";
		document.getElementById("btnModificar").style.display = "inline-block";
		
		$("#formaUsuario").dialog({
				title: "Modificar Usuario",
                height: 300,
                width: 300,
                modal: true,
                open: function (event, ui) {
                    document.getElementById("inpNombre").focus();
					document.getElementById("inpClave").value    = document.getElementById("cla"+id).textContent;
					document.getElementById("inpNombre").value   = document.getElementById("nom"+id).textContent;
					document.getElementById("inpCorreo").value   = document.getElementById("cor"+id).textContent;
					document.getElementById("inpUsuario").value  = document.getElementById("us"+id).textContent;
               		document.getElementById("inpPassword").value = pass;
			    }
            });
	}
	
	function modificarUsuario(e){//Hace el post para modificar un usuario en la base de datos
		e.preventDefault();
		
		if(validarCamposVacios){
			var pData = $("#formaUsuario").serialize();
			var pUrl = "/usuarios/modificar";
			
			$.post(pUrl, pData, function(Result)
				{
					$(".ui-dialog-titlebar-close").trigger('click');
					if(Result!=null){
						insertarUsuarioEnTabla(Result,true);
						cerrarVentana();
					}else
						window.alert("Usuario ya existe");
					});
		}
	}
	
	function eliminarUsuario(clave){//Hace el post para eliminar un usuario en la base de datos
		if(window.confirm("¿Eliminar usuario?")){
			var pUrl="/usuarios/eliminar";
			var pData="Clave="+clave;
			$.post(pUrl,pData, function (Result){
				if(Result.Result==true){
					window.alert("Usuario eliminado con éxito");
					document.getElementById("tr"+clave).remove();
				}else{
					window.alert(Result.Mensaje);
				}
			});
		}
	}
	
	function cancelar(e){//Cierra ventana modal
		event.preventDefault();
		$(".ui-dialog-titlebar-close").trigger('click');
	}
	
	function cerrarVentana(){//Cierra ventana modal
		$(".ui-dialog-titlebar-close").trigger('click');
	}
	
	function limpiarCampos(){//Limpia los campos de la forma de usuario
		document.getElementById("inpClave").value    = "";
		document.getElementById("inpNombre").value   = "";
		document.getElementById("inpCorreo").value   = "";
		document.getElementById("inpUsuario").value  = "";
		document.getElementById("inpPassword").value = "";
	}

</script>